body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel{
    background-color: white;
    border: 1px solid grey;
    box-sizing: border-box;
}

#content{
    flex-direction: column;
}

#screen{
    flex-wrap: wrap;
    width: 40em;
    height: 40em;
    border:2px solid black
}